.custom-bg{
  background-color: #343541;
}
.modal-dialog {
    max-width: 600px; /* กำหนดความกว้างสูงสุด */
    width: 100%; /* ให้ Modal ใช้ความกว้างทั้งหมดของพื้นที่หน้าจอ */
    height: auto; /* ความสูงจะปรับอัตโนมัติตามเนื้อหาภายใน */
    margin: auto; /* ทำให้ Modal อยู่ตรงกลาง */
}

.modal-content {
    min-height: 300px; /* กำหนดความสูงขั้นต่ำ */  
}
.name-container {
    display: inline; /* ทำให้ข้อความอยู่ต่อจาก 'Name:' */
    white-space: normal; /* อนุญาตให้ข้อความขึ้นบรรทัดใหม่ */
    word-break: break-word; /* บังคับให้ข้อความตัดคำเมื่อยาวเกิน */
    max-width: 100%; /* จำกัดความกว้างไม่ให้เกินพื้นที่ */
}
.modal-body {
  align-items: flex-end;
}
.image-box{
  display: flex; /* ใช้ Flexbox */
    justify-content: center; /* จัดกึ่งกลางแนวนอน */
    height: 100px; /* กำหนดความสูงของ container */
}

